body {
    background-color: rgb(61, 61, 61);
}
.cardo {
    width: 20%;
    margin: auto;
}

.card-box{
    border-width: 12px;
    border: #FED132;
    filter: drop-shadow(16, 16, #236DF6);
    margin: auto;
}
form-box{
    margin: auto;
    width: 20%;
}