<div style="width: 400px; padding: 50px">
<% if @current_user.admin %>
    <%= button_to 'Control Panel', users_path, method: :get, class: 'btn btn-outline-primary col-12' %>
  <% else %>
    <%= button_to 'Account settings', { controller: :users, action: :show, id: session[:current_user_id] },
                  class: 'btn btn-outline-primary col-12', method: :get %>
  <% end %>
  <%= button_to 'Sign out', { controller: :sessions, action: :destroy, id: session[:session_id] },
                method: :delete, class: 'btn btn-secondary col-12'%>
</div>